.blog_container {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  position: relative;
}

.blog_list {
  width: 160px;
  font-size:14px;
  line-height:32px;
  padding: 16px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align:left;
  font-weight:300;
  color:#515151;
}

.blog_menu_icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  background: url(../img/list.png) center no-repeat;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.blog_menu_icon:hover {
  cursor: pointer;
  opacity: 0.25;
}

.blog-menu-icon-transform{
  background: url(../img/rotate.png) center no-repeat;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.hidden_blog_list{
  width: 56px;
  height: 56px;
  font-size:14px;
  line-height:48px;
  text-align:left;
  font-weight:400;
  color:#515151;
  background-color: #f3f3f3;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  padding: 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: left;
  text-transform: none;
  position: absolute;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  display: initial;
  z-index: 1;
}

.hidden_blog_list_container{
  display: none;
}

.extend_blog_list{
  width: 192px;
  height: 312px;
}

.writing_container {
  margin: 0 0 64px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 640px;
  padding: 16px 32px;
  height: 720px;
  position: relative;
  overflow: auto;
  box-shadow: 0px 20px 40px #e3e3e3;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: black;
  text-align: center;
  position: relative;
  z-index: 0;
}

.writing_title{
  font-size: 23px;
  margin: 4px 0 48px 0;
}

.writing_list{
  cursor: pointer;
  font-weight: 400;
  color: #919191;
}

.writing_list:hover{
  color: black;
}
