.contact_title {
  font-size: 16px;
  padding-bottom: 24px;
  font-weight:300;
  color:black;
}

.contact_container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  position: relative;
  height: auto;
}

.contact_brief {
  line-height:40px;
  text-align:left;
  font-size:16px;
  font-weight:500;
  color: #000;
}

.contact_brief p{
  margin-bottom: 16px;
  color: #999;
}

.contact_img {
  position: relative;
  height: 450px;
  margin-left: 30px;
}

.contact_img img{
  width: 100%;
  position: absolute;
}

.makeTransparent{
  opacity: 0;
}

.contact_brief a{
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #999;
  color: #999;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
}

.contact_brief a:hover {
  color: black;
  border-bottom-color: black;
}

.contact_option:hover{
  cursor: pointer;
}

.switch_img{
  opacity: 0;
  transition: opacity 0.5s;
}

#switch_img_0{
  opacity: 1;
}
