.contact_title {
	font-size: 16px;
	padding-bottom: 24px;
	font-weight:300;
	color:black;
}

.contact_container {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  position: relative;
  height: auto;
}

.contact_brief {
	line-height:32px;
	text-align:left;
	font-size:18px;
	font-weight:300;
	color: #919191;
}

.contact_brief p{
  margin-bottom: 16px;
  color: #919191;
}

.contact_img {
	position: relative;
  height: 450px;
  margin-left: 30px;
}

.contact_img img{
  width: 100%;
  position: absolute;
}

.makeTransparent{
  opacity: 0;
}

.contact_brief a{
  font-weight: 400;
  border-bottom: 4px solid #e3e3e3;
	color: #919191;
}

.contact_brief a:hover {
  color: black;
  border-bottom-color: black;
}

#qrCode:hover{
  cursor: pointer;
}

#qrCode_img{
  margin-top: 64px;
  display: none;
}

