.contact_title {
	font-size: 16px;
	padding-bottom: 24px;
	font-weight:500;
	color:black;
}

.contact_container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.contact_brief {
	width:600px;
	line-height:21px;
	text-align:left;
	font-size:12px;
	font-weight:400;
	color:black;
}

.contact_brief p{
  margin-bottom: 16px;
}

.contact_option {
	color: #515151;
}
.contact_img {
	position: relative;
  width: 450px;
  margin-left: 30px;
}

.contact_img img{
  width: 100%;
  position: absolute;
}

.contact_brief a{
  font-weight: 500;
  border-bottom: 4px solid #e3e3e3;
	color: black;
}

.contact_brief a:hover {
  border-bottom-color: red;
}

#qrCode:hover{
  cursor: pointer;
}

#qrCode_img{
  display: none;
}

