@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,900,900italic,500italic,100italic,300italic,400);
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/core.scss */
html {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}

/* line 9, ../../sass/core.scss */
a {
  text-decoration: none;
}

/* line 13, ../../sass/core.scss */


/* line 18, ../../sass/core.scss */
a:visited {
  text-decoration: none;
  color: #515151;
}

/* line 23, ../../sass/core.scss */
a:hover {
  color: white;
}

.bold{
  border-bottom: 4px solid #e3e3e3;
  color: #515151;
}

.bold:visited {
  border-bottom: 4px solid #e3e3e3;
  color: #515151;
}

.bold:hover {
  border-bottom-color: black;
  cursor: pointer;
  color: black;
}



/*web layout container for all pages*/

/* line 8, ../../sass/index.scss */
html, body {
  height: auto;
  overflow: auto;
}

.page_type {
  display: none;
}

/* line 26, ../../sass/index.scss */
.main-container {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 35, ../../sass/index.scss */
.outer-container {
  max-width:996px;
  min-width:346px;
  margin: 0 auto;
  padding: 18px;
  padding-top: 0;
  overflow: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.top-placeholder {
  position: relative;
  height: 32px;
  margin-bottom: 96px;
}

.top-container{
  width: 100%;
  height: 64px;
  position: fixed;
  background-color: white;
  padding: 4px 36px 0 36px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  z-index: 3;
  opacity: 0.98;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.top-section {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  min-width: 310px;
  padding: 21px 0;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: uppercase;
}

.top-container a, .top-container a:visited{
  color: #a3a3a3;
}

.top-container a:hover{
  color: black;
}

.top-section .left {
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: 1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.top-section .right {
  width: 320px;
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

#current,
#current:hover,
#current:visited,
#logo,
#logo:hover,
#logo:visited {
  color: black;
}

#logo{
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.top-section .item {
  margin: 0 24px;
}

.top-section .item:first-child {
  margin-left: 0;
}

.top-section .item:last-child {
  margin-right: 0;
}

.hiddenList{
  margin: 0 auto;
  max-width: 960px;
  min-width: 320px;
  padding: 16px 0;
  border-top: 1px solid #d3d3d3;
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: right;
  text-transform: uppercase;
  display: none;
}

#menu-icon {
  display: none;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(../img/rotate.png) center no-repeat;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.menu-icon-transform{
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

#menu-icon:hover{
  cursor: pointer;
  opacity: 0.25;
}

.addColorShadow {
  background-color: #f3f3f3;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.extendHeight {
  height: 242px;
}

/* footer */
.bottom-section {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  margin-top: 128px;
  padding: 8px 0;
  font-size:14px;
  font-weight:400;
  border-bottom: 1px solid #e3e3e3;
  //text-transform: lowercase;
}

.bottom-section div a, .bottom-section div a:visited{
  color: #b3b3b3;
}

.bottom-section div a:hover{
  color: black;
}

.back_project {
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: 1;
}

.non-project-bottom-section{
  margin-top: 64px;
}

.copyright {
  display: -webkit-flex;
  display: flex;
  display: -ms-flex;
  padding: 8px 0;
  color: #B2B2B2;
  font-size:10px;
  font-weight:400;
  margin-top: 32px;
}
/* line 72, ../../sass/index.scss */
.copyright .left {
  -webkit-flex: 1;
  flex: 1;
  -ms-flex: 1;
}
