.instruction{
  margin: 0 16px;
  width: 128px;
  font-size: 12px;
  line-height: 18px;
  color: white;
  opacity: 0.5;
  position: fixed;
  left: 0px;
  z-index: 0;
}

.close_button{
  position: fixed;
  //left: 1076px;
  top: 16px;
  opacity: 0.5;
  z-index: 99;
}

.close_button:hover{
  cursor: pointer;
  opacity: 1;
}

.img_container{
  position: relative;
  margin: 0 0 64px 0;
  height: 100%;
}

.img_container img{
  position: absolute;
	width: 100%;
  opacity: 0;
  transition: 0.75s;
  -webkit-transition: 0.75s;
}

#img_0{
  opacity: 1;
}

#img_10{
  position: relative;
}

.button_container{
  position: absolute;
  z-index: 99;
}

.button_container div{
  //border: 1px solid red;
  width: 156px;
  height: 200px;
  cursor: pointer;
}

#button_0{
  position: relative;
  left: 91px;
  top: 45px;
}

#button_1{
  position: relative;
  left: 314px;
  top: -156px;
}

#button_2{
  position: relative;
  left: 638px;
  top: -394px;
}

#button_3{
  position: relative;
  left: 106px;
  top: 220px;
}

#button_4{
  position: relative;
  left: 710px;
  top: -148px;
}


