.back,.flipper,.front{width:220px;height:220px;}.transfer-container{margin:128px auto 256px;font-size:24px;line-height:48px;font-weight:400;text-align:center;color:#ccc}#project_request{color:#000;font-weight:400}#project_request:hover{color:red}.icon_container{display:flex;display:-webkit-flex;display:-ms-flex;justify-content:space-between;-webkit-justify-content:space-between;-ms-justify-content:space-between;-moz-justify-content:space-between;-webkit-flex-flow:row wrap;flex-flow:row wrap;-ms-flex-flow:row wrap;-moz-flex-flow:row wrap;position:relative;margin:0 auto}.flipper{display:inline-block;margin:15px 0;position:relative}.back,.front{position:absolute}.front{transition:all .35s;-webkit-transition:all .35s;-moz-transition:all .35s;-ms-transition:all .35s;box-shadow:0 4px 4px rgba(0,0,0,.1);z-index:2}.front:hover{opacity:0;cursor:pointer}.back{opacity:0}.flipper:hover{box-shadow:0 4px 8px rgba(0,0,0,.5)}#flipper_18:hover,#flipper_19:hover{box-shadow:none}
.transfer-container{
  font-size: 32px;
  color: #999;
  font-weight: 400;
  line-height: 40px;
  text-transform: none;
}

#project_request, #project_request:visited{
  border-bottom: 2px solid #999;
  color: #999;
}

#project_request:hover {
  border-bottom-color: #000;
  cursor: pointer;
  color: #000;
}
